/* @media all and (max-device-width: 1023px) {
	.s1, .s3 {display: none;}
} */
/* @media only screen and (min-device-width: 481px) and (max-device-width: 1023px) {
  .s2 {width: 90%}
} */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.content {padding-bottom: 352%;}
	/* body {height: 3000px;} */
	body::before {background-image: url("../images/skelet_320_767_3.png"); animation: skeletappears_iphone 10s infinite linear;}
	.big_two {bottom: 0.7%;}
	.big_one {height: 49.8%;}
	.s1, .s3 {display: none;}

	@keyframes skeletappears_iphone {
	  49%{opacity: 0}
	  50%{opacity: 1}
	  59%{opacity: 1}
	  60%{opacity: 0}
	}

	.d1, .d2, .d8_2, .d11, .d13, .d15, .d17, .d19, .d20, .d21, .d22, .d23, .d24, .d28, .d29, .d30, .d31, .d1_2, .d2_2, .d3_2, .d4_2, .d5_2, .d6_2, .d7_2, .d8_2_2, .d9_2 {animation: restdisappears_iphone 10s infinite linear;}

	@keyframes restdisappears_iphone {
	  49%{opacity: 1}
	  50%{opacity: 0}
	  59%{opacity: 0}
	  60%{opacity: 1}
	}

	.s1_2 {position: relative; width: 100%; height: 43%;}
	.s1_2 div {display: inline-block; vertical-align: top;}
	.d1_2 {width: 11%; height: 100%; background: black;}
	.d2_2 {width: 9%; height: 34%; background: #00B6F4; margin-left: -5px;}
	.d3_2 {width: 9%; height: 34%; background: black; margin-left: -5px;}
	.d4_2 {width: 11%; height: 43%; background: #00B6F4; margin-left: -5px;}
	.d5_2 {width: 11%; height: 43%; background: black; margin-left: 7%; margin-top: 13%;}
	.d6_2 {width: 10%; height: 34%; background: #00B6F4; margin-left: -5px; margin-top: 13%;}
	.d7_2 {width: 9%; height: 34%; background: black; margin-left: -5px; margin-top: 13%;}
	.d8_2_2 {width: 14%; height: 34%; background: #00B6F4; margin-left: -5px; margin-top: 13%;}
	.d9_2 {width: 9.6%; height: 121%; background: black; margin-left: -1%; margin-top: 13%;}

	.s2 {width: 100%; margin-top: 0px; height: 57%; left: 0;}
	.s2 .d24 {right: 9%;}

	.s4 {height: 22%; width: 32%; top: 19%; right: 64%;}
	.s4 .d32 {height: 27%; width: 169%; bottom: 14.5%; margin-left: 51%;}
	.s4 .d33 {bottom: 15%;}
	.s4 .d35_2 {width: 33%; height: 30%; top: 82%; right: -120%; background: #F23939}

	.s5 {height: 2.5%; width: 26%; top: 40.5%; left: 15%;}
	.s5 .d37 {height: 100%; width: 37%; background: #F24941; margin-left: 31px;}
	.s5 .d36 {height: 100%; width: 37%; background: #F24941;}

	.big_two {height: 51.2%; margin-top: -4%;}
	.d46 img {width: 100%;}

	.s7 {height: 22.4%;}
	.d38, .d44, .d47, .d48, .d444 {display: none;}
	.d46 {width: 70%; height: 16%; right: 6%; margin-top: 9%; border-radius: 50px;}
	.d46 img {width: 92%; margin-left: 4%; margin-top: 3%; height: 86%;}
	.d43_3 {height: 4%; width: 7%; position: absolute; border-radius: 50%; background-color: #F655A0; left: 3%; margin-top: 11%;}
	.d43_4 {height: 4%; width: 7%; position: absolute; border-radius: 50%; background-color: #F655A0; left: 12%; margin-top: 11%;}
	.d43_5 {height: 10%; width: 7%; position: absolute; border-radius: 50px; background-color: black; left: 3.2%; margin-top: 20%;}

	.s8 {height: 71.5%;}
	.d49 {height: 92%; width: 86%; margin-left: 2%; border: 56px solid black;}

	.s9 {height: 7%;}
	.d50_1, .d57_1, .d53, .d56 {display: none;}
	.d54 {height: 49%; width: 85%; margin-left: 248%; margin-top: 17%;}
	.d55 {height: 47%; width: 20%; margin-left: 217%; margin-top: 17.5%;}

	.d60 {height: 12.5%; width: 15%; margin-left: 17%; margin-top: -23.6%;}

	.ticket {width: 22.4%; margin-top: 20.6%; right: 30%;}
	.ticket img {height: 49%; top: -25%;}

	.d {width: 35%; height: 22%; margin-top: 2.5%; margin-left: 1.5%;}
	.o {width: 25.5%; height: 22%; margin-top: 2.5%; margin-left: 38%;}
	.i {width: 30.6%; height: 22%; margin-top: 2.5%; margin-left: 67.5%;}
	.g {width: 26.5%; height: 22%; margin-top: 36%; margin-left: 37.5%;}
	.r {width: 26%; height: 22%; margin-left: 67.5%; margin-top: 36%;}
	.a {width: 26%; height: 22%; margin-top: 70%; margin-left: 5%;}
	.l {width: 30%; height: 22%; margin-top: 70%; margin-left: 38%;}
	.i2 {width: 31%; height: 22%; margin-top: 103.5%; margin-left: 5%;}
	.s {margin-top: 103.5%; height: 22%; width: 25.4%; margin-left: 38%;}
	.soft_sign {margin-top: 103.5%; height: 22%; width: 26%; margin-left: 67%;}

	.d, .o, .i, .g, .r, .a, .l, .i2, .s, .soft_sign {animation: letter_opacity3 14s linear infinite;}

	@keyframes letter_opacity3 {
		19% {opacity: 1;}
	  20% {opacity: 0;}

		69% {opacity: 0;}
	  70% {opacity: 1;}
	  100% {opacity: 1;}
	}

	.o2 {width: 25.5%; height: 22%; margin-top: 2.5%; margin-left: 6.5%; opacity: 0;}
	.p {width: 25.5%; height: 22%; margin-top: 2.5%;  margin-left: 38%; opacity: 0;}
	.e {width: 25.5%; height: 22%; margin-left: 6.5%; margin-top: 36%;  opacity: 0;}
	.n {width: 30.6%; height: 22%; margin-left: 33.5%; margin-top: 36%; opacity: 0;}
	.t {width: 25.5%; height: 22%; margin-top: 70%; margin-left: 38.5%; opacity: 0;}
	.a2 {width: 26%; height: 22%; margin-left: 66.7%; margin-top: 70%; opacity: 0;}
	.l2 {width: 30%; height: 22%; margin-left: 39%; margin-top: 103.5%; opacity: 0;}
	.k {width: 25.5%; height: 22%; margin-left: 67%; margin-top: 103.5%; opacity: 0;}

	.o2, .p, .e, .n, .t, .a2, .l2, .k {animation: letter_opacity4 14s linear infinite;}

	@keyframes letter_opacity4 {
		20% {opacity: 0;}
		21% {opacity: 1;}
		69% {opacity: 1;}
		70% {opacity: 0;}
	}

	.vertical_line, .vertical_line2, .vertical_line3, .vertical_line4 { height: 22%; width: 5%; animation: vertical_line_animation_iphone 7s ease-in infinite; background-color: red; position: absolute; left: 0%; top: 35%; border-radius: 50px; z-index: 3;}
	.vertical_line {top: 1.5%;}
	.vertical_line2 {top: 26.5%;}
	.vertical_line3 {top: 50.1%;}
	.vertical_line4 {top: 75%;}

	@keyframes vertical_line_animation_iphone {
		15% {opacity: 1;}
	  16% {opacity: 0;}
	  17% {opacity: 1;}
	  18% {opacity: 0;}
	  19% {opacity: 1;}
	  20% {opacity: 0;}
	  21% {opacity: 1;}
	  22% {opacity: 0;}
	  23% {opacity: 1;}
	  24% {opacity: 0;}
	  25% {opacity: 1;}

	  26% {left: 0%;}
	  35% {left: 94.5%;}

		65% {left: 94.5%; opacity: 1;}

		66% {opacity: 0;}
		67% {opacity: 1;}
		68% {opacity: 0;}
		69% {opacity: 1;}
		70% {opacity: 0;}
		71% {opacity: 1;}
		72% {opacity: 0;}
		73% {opacity: 1;}
		74% {opacity: 0;}
		75% {opacity: 1;}

		76% {left: 94.5%;}
		85% {left: 0%;}
		100% {left: 0%;}
	}

	.rectangle, .rectangle2, .rectangle3, .rectangle4 {background-color: white; height: 29%; width: 3%; position: absolute; left: 0%; top: 34%; z-index: 2; animation: rectangle_animation_iphone 7s ease-in infinite;}
	.rectangle {top: 1.5%;}
	.rectangle2 {top: 26.5%;}
	.rectangle3 {top: 50.1%;}
	.rectangle4 {top: 75%; height: 25%;}

	@keyframes rectangle_animation_iphone {
		26% {width: 3%;}
		35% {width: 99%;}
		76% {width: 99%;}
		85% {width: 3%;}
		100% {width: 3%;}
	}

	.d12 {border-radius: 170px;}
	.d17, .d49, .d12 {border: 42px solid black;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.content {padding-bottom: 232%;}
	/* body {height: 2550px;} */
	body::before {background-image: url("../images/skelet_768_1023_2.png"); animation: skeletappears_ipad1 10s infinite linear;}
	.big_one {height: 47%;}
	.big_two {bottom: 0%; overflow: hidden; }
	.s1, .s3 {display: none;}

	@keyframes skeletappears_ipad1 {
	  49%{opacity: 0}
	  50%{opacity: 1}
	  59%{opacity: 1}
	  60%{opacity: 0}
	}

	.d1, .d2, .d8_2, .d11, .d13, .d15, .d17, .d19, .d20, .d21, .d22, .d23, .d24, .d28, .d29, .d30, .d31, .d1_2, .d2_2, .d3_2, .d4_2, .d5_2, .d6_2, .d7_2, .d8_2_2, .d9_2 {animation: restdisappears_ipad1 10s infinite linear;}
	/* .d1_2, .d2_2, .d3_2, .d4_2, .d5_2, .d6_2, .d7_2, .d8_2_2, .d9_2 {animation: restdisappears_ipad1 10s infinite linear;} */

	@keyframes restdisappears_ipad1 {
		49%{opacity: 1}
		50%{opacity: 0}
		59%{opacity: 0}
		60%{opacity: 1}
	}

/* это новая строчка, которая появляется начиная с айпада */
	.s1_2 {position: relative; width: 100%; height: 22.5%;}
	.s1_2 div {display: inline-block; vertical-align: top;}
	.d1_2 {width: 7.4%; height: 200%; background: black;}
	.d2_2 {width: 9%; height: 70%; background: #00B6F4; margin-left: -5px;}
	.d3_2 {width: 3%; height: 70%; background: black; margin-left: -5px;}
	.d4_2 {width: 7%; height: 89%; background: #00B6F4; margin-left: -5px;}
	.d5_2 {width: 7%; height: 89%; background: black; margin-left: 39%;}
	.d6_2 {width: 8%; height: 73%; background: #00B6F4; margin-left: -5px; margin-top: 4%;}
	.d7_2 {width: 4.5%; height: 73%; background: black; margin-left: -5px; margin-top: 4%;}
	.d8_2_2 {width: 8%; height: 73%; background: #00B6F4; margin-left: -5px; margin-top: 4%;}
	.d9_2 {width: 8.3%; height: 284%; background: black; margin-left: -1.5%; margin-top: 4%;}

	.s2_2 {margin-top: 37%; display: inline-block; position: relative; width: 7.2%; height: 37%;}
	.s2_2 div {display: flex; margin-left: auto; margin-right: 0; height: 20%; width: 54%; background: #F655A0; }
	.s2_2 .d11_2 {margin-top: 25%;}
	.s2_2 .d12_2 {margin-top: 25%;}

	.s2 {width: 85%; margin-top: 0px; height: 77.5%;}
	/* .s2 .d12 {border: 55px solid black; border-radius: 164px;}
	.s2 .d17 {border: 55px solid black;} */

	.s4 {height: 26%; width: 24%; top: -1.4%; right: 44.7%;}
	.s4 .d32 {display: none;}

	.s5 {height: 10%; width: 5%; bottom: 12%;}
	.s5 .d37 {display: none;}
	.s5 .d36 {height: 71%; width: 75%; background: #F24941;}

	.big_two {height: 54%;}
	.d46 img {width: 100%;}
	.d38 {width: 30%; height: 21.2%; margin-left: -7%; margin-top: 9.2%;}
	div.d39 {display: none;}

	.s7 {height: 33%; overflow: hidden;}
	div.d41, div.d42, div.d43 {width: 9.5%; height: 74%; margin-left: 14%; margin-top: 11%;}
	.d44, .d444 {width: 27.5%; height: 22%; margin-top: 8.7%; margin-left: 26.8%;}
	.d46 {right: -11%; height: 17%; margin-top: 9%; width: 53%; border-radius: 47px;}
	.d46 img {margin-left: 3%; margin-top: 3%; height: 84%; width: 94%;}
	.d47, .d48 {display: none;}
	/* .d43_3 {height: 4%; width: 5%; position: absolute; border-radius: 50%; background-color: #F655A0; right: 4%; margin-top: 31%;} */
	/* .d43_4 {height: 4%; width: 5%; position: absolute; border-radius: 50%; background-color: #F655A0; right: 10%; margin-top: 31%;} */
	.d43_5 {height: 4%; width: 16%; position: absolute; border-radius: 50px; background-color: black; right: 26%; margin-top: 33%;}

	.s8 {height: 58%;}
	.d49 {height: 89%; width: 83.6%; margin-left: 4.6%; border: 42px solid black;}
	.s9 {height: 10%; margin-top: 2%;}
	.d50_1, .d53, .d56 {display: none;}
	.d57_1 {margin-left: 33%;}
	.d54 {height: 60%; width: 51%; margin-left: 16%; margin-top: 3%;}
	.d55 {height: 43%; width: 18%; margin-left: 45%; margin-top: 6.5%;}
	.d57 {height: 41%; width: 14%; margin-top: 5%; margin-left: 0%;}
	.d58 {height: 41%; width: 14%; margin-top: 5%; margin-left: 16%;}
	.d59 {margin-top: 5%; margin-left: 36%; height: 41%; width: 57%;}
	.d60 {height: 13.5%; width: 11%; margin-left: 29%; margin-top: -20.6%;}

	.ticket {right: 7.2%; margin-top: 17.4%; width: 17%;}
	.ticket img {height: 50%; top: -24%;}

	.d {width: 24%; height: 27%; margin-top: 3.2%; margin-left: 3.5%;}
	.o {width: 17.5%; height: 27%; margin-top: 3.2%; margin-left: 31%;}
	.i {width: 20.5%; height: 27%; margin-top: 3.2%; margin-left: 53.5%;}
	.g {width: 17.5%; height: 27%; margin-top: 3.2%; margin-left: 77.5%;}
	.r {width: 17%; height: 27%; margin-left: 7%; margin-top: 27%;}
	.a {width: 17.3%; height: 27%; margin-top: 27%; margin-left: 31%;}
	.l {width: 21%; height: 27%; margin-top: 27%; margin-left: 53.5%;}
	.i2 {width: 21%; height: 27%; margin-top: 51.5%; margin-left: 31%;}
	.s {margin-top: 51.5%; height: 27%; width: 17%; margin-left: 53%;}
	.soft_sign {margin-top: 51.5%; height: 27%; width: 18%; margin-left: 78%;}

	.o2 {width: 17.5%; margin-left: 7%; height: 27%; margin-top: 3.2%;}
	.p {width: 17%; height: 27%; margin-top: 3.2%; margin-left: 31%;}
	.e {width: 17.5%; height: 27%; margin-left: 53.5%; margin-top: 27%;}
	.n {width: 20%; height: 27%; margin-left: 74.5%; margin-top: 27%;}
	.t {width: 17.5%; height: 27%; margin-top: 51.5%; margin-left: 7%;}
	.a2 {width: 17.5%; height: 27%; margin-left: 30.7%; margin-top: 51.5%; }
	.l2 {width: 21%; height: 27%; margin-left: 53%; margin-top: 51.5%; }
	.k {width: 16.2%; height: 27%; margin-left: 78%; margin-top: 51.5%; }

	.vertical_line, .vertical_line2, .vertical_line3 {background-color: red; height: 27%; width: 4%; position: absolute; left: 0%; border-radius: 50px; z-index: 3; animation: vertical_line_animation_ipad 7s ease-in infinite;}
	.vertical_line {top: 4%;}
	.vertical_line2 {top: 35%;}
	.vertical_line3 {top: 66%;}

@keyframes vertical_line_animation_ipad {
	10% {opacity: 1;}
  11% {opacity: 0;}
  12% {opacity: 1;}
  13% {opacity: 0;}
  14% {opacity: 1;}
  15% {opacity: 0;}
  16% {opacity: 1;}
  17% {opacity: 0;}
  18% {opacity: 1;}
  19% {opacity: 0;}
  20% {opacity: 1;}

  21% {left: 0%;}
  30% {left: 96%;}

	31% {opacity: 1;}
	32% {opacity: 0;}
	33% {opacity: 1;}
	34% {opacity: 0;}
	35% {opacity: 1;}
	36% {opacity: 0;}
	37% {opacity: 1;}
	38% {opacity: 0;}
	39% {opacity: 1;}
	40% {opacity: 0;}
	41% {opacity: 1;}

	50% {left: 96%;}
  60% {left: 0%;}
	100% {left: 0%;}
}
	.rectangle2 {display: none;}
	.rectangle {top: 3%;}
	.rectangle3 {top: 34%;}
	.rectangle4 {top: 65%;}
	.rectangle, .rectangle3, .rectangle4 {background-color: white; height: 29%; width: 3%; position: absolute; left: 0%; z-index: 2; animation: rectangle_animation_ipad 7s ease-in infinite;}

@keyframes rectangle_animation_ipad {
	  21% {width: 3%;}
	  30% {width: 97%;}
		50% {width: 97%;}
	  60% {width: 3%;}
		100% {width: 3%;}
	}

	.d, .o, .i, .g, .r, .a, .l, .i2, .s, .soft_sign { animation: letter_moving 14s infinite;}
	@keyframes letter_moving {
		19% {opacity: 1;}
		20% {opacity: 0;}
		69% {opacity: 0;}
		70% {opacity: 1;}
	}
	.o2, .p, .e, .n, .t, .a2, .l2, .k {opacity: 0; animation: letter_moving2 14s infinite;}
	@keyframes letter_moving2 {
		19% {opacity: 0;}
		20% {opacity: 1;}
		69% {opacity: 1;}
		70% {opacity: 0;}
	}

	.d12 {border-radius: 170px;}
	.d17, .d49, .d12 {border: 40px solid black;}
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
	.content {padding-bottom: 152%;}
	/* body {height: 1650px;} */
  body::before {background-image: url("../images/skelet_1024_1279_2.png"); animation: skeletappears_ipad2 10s infinite linear;}
	.big_one {margin-top: 4.5%; height: 46.5%;}

	@keyframes skeletappears_ipad2 {
	  49%{opacity: 0}
	  50%{opacity: 1}
	  59%{opacity: 1}
	  60%{opacity: 0}
	}

	.d1, .d2, .d8_2, .d11, .d13, .d15, .d17, .d19, .d20, .d21, .d22, .d23, .d24, .d28, .d29, .d30, .d31, .d1_2, .d2_2, .d3_2, .d4_2, .d5_2, .d6_2, .d7_2, .d8_2_2, .d9_2 {animation: restdisappears_ipad2 10s infinite linear;}
	@keyframes restdisappears_ipad2 {
		49%{opacity: 1}
		50%{opacity: 0}
		59%{opacity: 0}
		60%{opacity: 1}
	}

	.s1 {width: 15.5%;}
	.s1 .d1 {margin-top: 0%; width: 42%; height: 67%;}
	.s1 .d3 {height: 31%; width: 36%; margin-top: 93%; margin-left: 42%;}
	.s1 .d4 {height: 40%; width: 41%; margin-top: 73%; margin-left: 60%;}
	.s1 .d5 {height: 50%; width: 50%; margin-top: 49%; margin-left: 78%;}
	.s1 .red_lamp {height: 23.5%; width: 108%; margin-left: -48%; margin-top: 321%;}
	.s1 .d6 {display: none;}
  .s1 .d6 {display: none;}
  .s1 .d2 {display: none;}
  .s1 .d401 {display: none;}

  .s2 {width: 69.7%; margin-top: 0%; height: 100%;}
	.s2::before {transform: scale(1.17); top: 0px; left: 0px;}
	.s2 .d7 {width: 100%; height: 100%;}
	.s2 .d7 img {width: 100%; height: 100%;}
	.s2 .d12 {border: 45px solid black; border-radius: 159px;}
	.s2 .d17 {border: 45px solid black; margin-top: 4.5%; right: 5%;}

  .s3 {width: 14.8%; overflow: hidden; margin-left: -0.8%;}
	.s3 .d25 {height: 50%; width: 50%; margin-left: -28%; bottom: 16%;}
	.s3 .d26 {height: 40%; width: 41%; bottom: 21%;}
	.s3 .d27 {height: 30%; width: 36%; bottom: 26%; margin-left: 40px;}
	.s3 .d28 {display: none;}
	.s3 .d29 {height: 70%; width: 40%; margin-top: 0; margin-left: -0.5%;}
	.s3 .d30 {width: 40%;}
	.s3 .d31 {width: 40%; margin-top: 79%;}

  .s4 {width: 19%; height: 31%; top: -7.3%; right: 8.4%;}
  .s4 .d32 {display: none;}
	.s4 .d33 {bottom: 2.5%;}

  .s5 {right: 0%; bottom: 5%;}
  .s5 .d36 {display: none;}
	.s5 .d37 {margin-left: 29%; bottom: -10%;}

	.big_two {height: 52.5%;}
	.s7 {height: 34.5%;}
	.d38 {width: 37%; height: 22%; margin-top: 7%;}
	.d38 div {height: 60%;}
	.d44, .d444 {margin-left: 36.8%; width: 19%; margin-top: 6.5%;}
	.d45 {margin-top: 1.3%;}
	.d47 {width: 3%; height: 34%; margin-top: 0; margin-left: 54%;}
	.d46 {right: 5%; margin-top: 8.7%;}
	div.d47, div.d48, div.d53, div.d56 {display: none !important;}
	.d54 {margin-left: 72%;}
	.d55 {margin-left: 96%;}

	.ticket {right: 17%; margin-top: 14.3%;}

	.vertical_line {animation: vertical_line_animation_ipad2 7s cubic-bezier(.35,.73,.37,.77) infinite;}
	@keyframes vertical_line_animation_ipad2 {
	  1% {opacity: 1;}
	  2% {opacity: 0;}
	  3% {opacity: 1;}
	  4% {opacity: 0;}
	  5% {opacity: 1;}
	  6% {opacity: 0;}
	  7% {opacity: 1;}
	  8% {opacity: 0;}
	  9% {opacity: 1;}
	  10% {opacity: 0;}
	  11% {opacity: 1;}

	  14% {left: 0%; top: 8%;}
	  20% {left: 97%; top: 8%;}

	  22% {opacity: 1;}
	  23% {opacity: 0;}
	  24% {opacity: 1;}
	  25% {opacity: 0;}
	  26% {opacity: 1;}
	  27% {opacity: 0;}
	  28% {opacity: 1;}
	  29% {opacity: 0;}
	  30% {opacity: 1;}

	  35% {left: 97%; top: 8%;}
	  37% {left: 97%; top: 53%;}

	  38% {opacity: 1;}
	  39% {opacity: 0;}
	  40% {opacity: 1;}
	  41% {opacity: 0;}
	  42% {opacity: 1;}
	  43% {opacity: 0;}
	  44% {opacity: 1;}
	  45% {opacity: 0;}
	  46% {opacity: 1;}

	  47% {left: 97%; top: 53%; }
	  53% {left: 0%; top: 53%; }

	  54% {opacity: 1;}
	  55% {opacity: 0;}
	  56% {opacity: 1;}
	  57% {opacity: 0;}
	  58% {opacity: 1;}
	  59% {opacity: 0;}
	  60% {opacity: 1;}
	  61% {opacity: 0;}
	  62% {opacity: 1;}
	  63% {left: 0%; top: 53%;}
	  65% {left: 0%; top: 8%;}
	}

	.rectangle {animation: rectangle_animation_ipad2 14s cubic-bezier(.35,.73,.37,.77) infinite;}

	@keyframes rectangle_animation_ipad2 {
	  7% {left: 0%; width: 1%;}
	  10% {left: 0%; width: 97%;}
	  57% {left: 0%; width: 97%;}
	  60% {left: 97%; width: 1%;}
	  100% {left: 97%; width: 1%;}
	}

	.rectangle2 { animation: rectangle_animation2_ipad2 14s infinite cubic-bezier(.35,.73,.37,.77);}

	@keyframes rectangle_animation2_ipad2 {
	  23.5% {width: 1%; left: 97%;}
	  26.5% {left: 1%; width: 97%;}
	  73.5% {left: 1%; width: 97%;}
	  76.5% {left: 1%; width: 1%;}
	  100% {left: 1%; width: 1%;}
	}

	.d, .o, .i, .g, .r, .a, .l, .i2, .s, .soft_sign {animation: letter_opacity_ipad2 28s linear infinite; }

	@keyframes letter_opacity_ipad2 {
	  21% {opacity: 1;}
	  25% {opacity: 0;}
	  72% {opacity: 0;}
	  75% {opacity: 1;}
	  100% {opacity: 1;}
	}

	.o2, .p, .e, .n, .t, .a2, .l2, .k {animation: letter_opacity2_ipad2 28s linear infinite;}

	@keyframes letter_opacity2_ipad2 {
	  21% {opacity: 0;}
	  25% {opacity: 1;}
	  55% {opacity: 1;}
	  75% {opacity: 1;}
	  76% {opacity: 0;}
	  100% {opacity: 0;}
	}

}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
	.content {padding-bottom: 138%;}
	/* body {height: 1515px;} */
  body::before {background-image: url("../images/skelet_1280_1365_2.png"); animation: skeletappears_1280_1365 10s infinite linear;}
  .big_one {height: 45%;}
	.big_two {bottom: 0%;}

	@keyframes skeletappears_1280_1365 {
	  49%{opacity: 0}
	  50%{opacity: 1}
	  59%{opacity: 1}
	  60%{opacity: 0}
	}

	.d1, .d2, .d8_2, .d11, .d13, .d15, .d17, .d19, .d20, .d21, .d22, .d23, .d24, .d28, .d29, .d30, .d31, .d1_2, .d2_2, .d3_2, .d4_2, .d5_2, .d6_2, .d7_2, .d8_2_2, .d9_2 {animation: restdisappears_1280_1365 10s infinite linear;}
	@keyframes restdisappears_1280_1365 {
		49%{opacity: 1}
		50%{opacity: 0}
		59%{opacity: 0}
		60%{opacity: 1}
	}

  .s1 {width: 20%;}
  .s1 .red_lamp {margin-left: 13%; margin-top: 224%;}

  .s2 {width: 59%; height: 95%; margin-top: 3.5%;}
  .s2 .d18 {transform: scale(0.9);}
  .s2 .d7 {width: 100%; height: 100%;}
  .s2 .d7 img {width: 100%; height: 100%;}

  .s3 {width: 20.7%;}

	.s4 {top: 1.7%; right: 9.7%;}

	.big_two {margin-top: -2.5%; height: 57%;}
	.s7 {height: 33%;}
	.d38 {width: 32%;}
	.d44, .d444 {margin-left: 31.8%; width: 19%;}
	.d47 {width: 3%; height: 34%; margin-top: 0; margin-left: 54%;}
	.d46 {right: 3.5%; margin-top: 7.5%;}
	.d48, .d53, .d56 {display: none;}
	.d54 {margin-left: 72%;}
	.d55 {margin-left: 96%;}

	.s8 {height: 55.5%;}
	.d60 {width: 6%; margin-top: -16%;}

	.ticket {right: 15.62%; margin-top: 13%;}

	.d12 {border-radius: 170px;}
	.d17, .d49, .d12 {border: 45px solid black;}

	.vertical_line {animation: vertical_line_animation_1280_1365 7s cubic-bezier(.35,.73,.37,.77) infinite;}
	@keyframes vertical_line_animation_1280_1365 {
		1% {opacity: 1;}
		2% {opacity: 0;}
		3% {opacity: 1;}
		4% {opacity: 0;}
		5% {opacity: 1;}
		6% {opacity: 0;}
		7% {opacity: 1;}
		8% {opacity: 0;}
		9% {opacity: 1;}
		10% {opacity: 0;}
		11% {opacity: 1;}

		14% {left: 0%; top: 8%;}
		20% {left: 97%; top: 8%;}

		22% {opacity: 1;}
		23% {opacity: 0;}
		24% {opacity: 1;}
		25% {opacity: 0;}
		26% {opacity: 1;}
		27% {opacity: 0;}
		28% {opacity: 1;}
		29% {opacity: 0;}
		30% {opacity: 1;}

		35% {left: 97%; top: 8%;}
		37% {left: 97%; top: 53%;}

		38% {opacity: 1;}
		39% {opacity: 0;}
		40% {opacity: 1;}
		41% {opacity: 0;}
		42% {opacity: 1;}
		43% {opacity: 0;}
		44% {opacity: 1;}
		45% {opacity: 0;}
		46% {opacity: 1;}

		47% {left: 97%; top: 53%; }
		53% {left: 0%; top: 53%; }

		54% {opacity: 1;}
		55% {opacity: 0;}
		56% {opacity: 1;}
		57% {opacity: 0;}
		58% {opacity: 1;}
		59% {opacity: 0;}
		60% {opacity: 1;}
		61% {opacity: 0;}
		62% {opacity: 1;}
		63% {left: 0%; top: 53%;}
		65% {left: 0%; top: 8%;}
	}

	.rectangle {animation: rectangle_animation_1280_1365 14s cubic-bezier(.35,.73,.37,.77) infinite;}

	@keyframes rectangle_animation_1280_1365 {
		7% {left: 0%; width: 1%;}
		10% {left: 0%; width: 97%;}
		57% {left: 0%; width: 97%;}
		60% {left: 97%; width: 1%;}
		100% {left: 97%; width: 1%;}
	}

	.rectangle2 { animation: rectangle_animation2_1280_1365 14s infinite cubic-bezier(.35,.73,.37,.77);}

	@keyframes rectangle_animation2_1280_1365 {
		23.5% {width: 1%; left: 97%;}
		26.5% {left: 1%; width: 97%;}
		73.5% {left: 1%; width: 97%;}
		76.5% {left: 1%; width: 1%;}
		100% {left: 1%; width: 1%;}
	}

	.d, .o, .i, .g, .r, .a, .l, .i2, .s, .soft_sign {animation: letter_opacity_1280_1365 28s linear infinite; }

	@keyframes letter_opacity_1280_1365 {
		21% {opacity: 1;}
		25% {opacity: 0;}
		72% {opacity: 0;}
		75% {opacity: 1;}
		100% {opacity: 1;}
	}

	.o2, .p, .e, .n, .t, .a2, .l2, .k {animation: letter_opacity2_1280_1365 28s linear infinite;}

	@keyframes letter_opacity2_1280_1365 {
		21% {opacity: 0;}
		25% {opacity: 1;}
		55% {opacity: 1;}
		75% {opacity: 1;}
		76% {opacity: 0;}
		100% {opacity: 0;}
	}
}


@media only screen and (min-width: 1366px) and (max-width: 1439px) {
	.content {padding-bottom: 132%;}
	.big_two {bottom: 0%;}
	/* body {height: 1450px;} */
  body::before {background-image: url("../images/skelet_1366_1439_2.png"); animation: skeletappears_1366_1439 10s infinite linear;}
  .big_one {height: 42.2%;}
  .s1 {width: 23%;}
	.s1 .d1 {width: 30%;}
  .s1 .d2 {width: 36%; margin-left: 30%; margin-top: 86%;}
	.s1 .red_lamp {width: 58%; margin-left: 30%; margin-top: 175%;}
	.s1 .d6 {width: 25%;}

	@keyframes skeletappears_1366_1439 {
	  49%{opacity: 0}
	  50%{opacity: 1}
	  59%{opacity: 1}
	  60%{opacity: 0}
	}

	.d1, .d2, .d8_2, .d11, .d13, .d15, .d17, .d19, .d20, .d21, .d22, .d23, .d24, .d28, .d29, .d30, .d31, .d1_2, .d2_2, .d3_2, .d4_2, .d5_2, .d6_2, .d7_2, .d8_2_2, .d9_2 {animation: restdisappears_1366_1439 10s infinite linear;}
	@keyframes restdisappears_1366_1439 {
		49%{opacity: 1}
		50%{opacity: 0}
		59%{opacity: 0}
		60%{opacity: 1}
	}

  .s2 {width: 53.5%;}
  .s2 .d18 {transform: scale(0.9);}
  .s2 .d7 {width: 100%; height: 100%;}
  .s2 .d7 img {width: 100%; height: 100%;}

	.d12 {border-radius: 170px;}
	.d17, .d49, .d12 {border: 47px solid black;}

  .s3 {width: 23.1%;}
  .s3 .d28 {bottom: 29%;}

	.s4 {width: 16%; right: 10%;}
	.s4 .d32 {width: 84%; margin-left: 0%;}

  .s5 {right: 5%;}

	.big_two {margin-top: -2.5%; height: 60%;}
	.s7 {height: 33.4%;}
	.d38 {width: 32%;}
	.d44, .d444 {margin-left: 31.8%; width: 19%;}
	.d47 {width: 3%; height: 34%; margin-top: 0; margin-left: 54%;}
	.d46 {right: 3.5%; margin-top: 7.5%;}
	.d48, .d53, .d56 {display: none;}
	.d54 {margin-left: 74%;}
	.d55 {margin-left: 98%;}

	.d60 {width: 6%; margin-top: -16%;}

	.ticket {right: 15.62%; margin-top: 13.1%;}

	.vertical_line {animation: vertical_line_animation_1366_1439 7s cubic-bezier(.35,.73,.37,.77) infinite;}
	@keyframes vertical_line_animation_1366_1439 {
		1% {opacity: 1;}
		2% {opacity: 0;}
		3% {opacity: 1;}
		4% {opacity: 0;}
		5% {opacity: 1;}
		6% {opacity: 0;}
		7% {opacity: 1;}
		8% {opacity: 0;}
		9% {opacity: 1;}
		10% {opacity: 0;}
		11% {opacity: 1;}

		14% {left: 0%; top: 8%;}
		20% {left: 97%; top: 8%;}

		22% {opacity: 1;}
		23% {opacity: 0;}
		24% {opacity: 1;}
		25% {opacity: 0;}
		26% {opacity: 1;}
		27% {opacity: 0;}
		28% {opacity: 1;}
		29% {opacity: 0;}
		30% {opacity: 1;}

		35% {left: 97%; top: 8%;}
		37% {left: 97%; top: 53%;}

		38% {opacity: 1;}
		39% {opacity: 0;}
		40% {opacity: 1;}
		41% {opacity: 0;}
		42% {opacity: 1;}
		43% {opacity: 0;}
		44% {opacity: 1;}
		45% {opacity: 0;}
		46% {opacity: 1;}

		47% {left: 97%; top: 53%; }
		53% {left: 0%; top: 53%; }

		54% {opacity: 1;}
		55% {opacity: 0;}
		56% {opacity: 1;}
		57% {opacity: 0;}
		58% {opacity: 1;}
		59% {opacity: 0;}
		60% {opacity: 1;}
		61% {opacity: 0;}
		62% {opacity: 1;}
		63% {left: 0%; top: 53%;}
		65% {left: 0%; top: 8%;}
	}

	.rectangle {animation: rectangle_animation_1366_1439 14s cubic-bezier(.35,.73,.37,.77) infinite;}

	@keyframes rectangle_animation_1366_1439 {
		7% {left: 0%; width: 1%;}
		10% {left: 0%; width: 97%;}
		57% {left: 0%; width: 97%;}
		60% {left: 97%; width: 1%;}
		100% {left: 97%; width: 1%;}
	}

	.rectangle2 { animation: rectangle_animation2_1366_1439 14s infinite cubic-bezier(.35,.73,.37,.77);}

	@keyframes rectangle_animation2_1366_1439 {
		23.5% {width: 1%; left: 97%;}
		26.5% {left: 1%; width: 97%;}
		73.5% {left: 1%; width: 97%;}
		76.5% {left: 1%; width: 1%;}
		100% {left: 1%; width: 1%;}
	}

	.d, .o, .i, .g, .r, .a, .l, .i2, .s, .soft_sign {animation: letter_opacity_1366_1439 28s linear infinite; }

	@keyframes letter_opacity_1366_1439 {
		21% {opacity: 1;}
		25% {opacity: 0;}
		72% {opacity: 0;}
		75% {opacity: 1;}
		100% {opacity: 1;}
	}

	.o2, .p, .e, .n, .t, .a2, .l2, .k {animation: letter_opacity2_1366_1439 28s linear infinite;}

	@keyframes letter_opacity2_1366_1439 {
		21% {opacity: 0;}
		25% {opacity: 1;}
		55% {opacity: 1;}
		75% {opacity: 1;}
		76% {opacity: 0;}
		100% {opacity: 0;}
	}

}

@media only screen and (min-width: 1440px) and (max-width: 1679px) {
	.d12 {border-radius: 170px;}
	.d17, .d49, .d12 {border: 55px solid black;}
}

@media only screen and (min-width: 1680px) {
	.content {padding-bottom: 132.7%;}
	/* body {height: 1459px;} */
	body::before {background-image: url("../images/1680_skelet.png"); top: 3%; animation: skeletappears_1680 10s infinite linear;}
	.big_one {margin-top: 3.3%; height: 44.1%; }
	.big_two {bottom: 0%;}
	.s1 {width: 22%;}
	.s1 .d1 {width: 33%; z-index: 1;}
	.s1 .d2 {height: 16%; width: 30%; margin-top: 93%; margin-left: 33%;}
	.s1 .d42_1 {height: 7%; width: 34%; margin-top: 154%; margin-left: 24%; background: black; border-radius: 50px; animation: restdisappears 10s infinite linear;}
	.s1 .d43_1 {height: 9%; width: 11%; background: #F655A0; position: absolute; right: 0%; bottom: 21%;}
	.s1 .d6 {margin-top: 1%; margin-left: 53%; width: 27%;}
	.s1 .d3_2 {height: 23%; width: 22%; margin-top: 83%; margin-left: 57%; background: #00B6F4; border-radius: 50px; animation: turntoblack 2s infinite ease-in;}
	/* .d3, .d4, .d5 { animation: turntoblack 2s infinite ease-in;} */
	.s1 .red_lamp {width: 64%; margin-left: 15%; margin-top: 192%;}

	@keyframes skeletappears_1680 {
	  49%{opacity: 0}
	  50%{opacity: 1}
	  59%{opacity: 1}
	  60%{opacity: 0}
	}

	.d1, .d2, .d8_2, .d11, .d13, .d15, .d17, .d19, .d20, .d21, .d22, .d23, .d24, .d28, .d29, .d30, .d31, .d1_2, .d2_2, .d3_2, .d4_2, .d5_2, .d6_2, .d7_2, .d8_2_2, .d9_2 {animation: restdisappears_1680 10s infinite linear;}
	@keyframes restdisappears_1680 {
		49%{opacity: 1}
		50%{opacity: 0}
		59%{opacity: 0}
		60%{opacity: 1}
	}

	.s2 {width: 56.3%;}
	.s2 .d10_2 {height: 20%; width: 20%; border-radius: 50%; background: #FFD42E; position: absolute; margin-top: 40%; margin-left: 40%; animation: eye_yellow 2s infinite ease-in-out;}

	.d12 {border-radius: 170px;}
	.d17, .d12 {border: 60px solid black;}
	.d49 {border: 61px solid black;}

	.s3 {width: 21.5%; margin-left: -0.7%;}
	.s3 .d28 {height: 16%; width: 40%; bottom: 31%;}
	.s3 .d31_2 {height: 7%; width: 45%; margin-top: 103%; right: 18%; background: black; border-radius: 50px; position: absolute; animation: restdisappears 10s infinite linear;}
	.s3 .d27_2 {height: 23%; width: 22%; bottom: 24%; margin-left: 25%; background: black; border-radius: 50px; background: #00B6F4; bottom: 27.5%; animation: turntoblack 2s infinite ease-in;}

	.s4 {top: -4%; right: 10%;}
	.s4 .d32 {margin-left: 10%;}
	.s4 .d35_2 {height: 12%; width: 8%; border-radius: 50px; background-color: #F23939; position: absolute; margin-top: 59%; right: -1%; transform: rotate(-37deg); opacity: 0; animation: lineappears 4s alternate infinite linear;}
	.s4 .d35_3 {height: 12%; width: 8%; border-radius: 50px; background-color: #F23939; position: absolute; margin-top: 3%; right: 1%; transform: rotate(37deg); opacity: 0;  animation: lineappears 4s 1s alternate infinite linear;}
	.s4 .d35_4 {height: 12%; width: 8%; border-radius: 50px; background-color: #F23939; position: absolute; margin-top: 3%; right: 51%; transform: rotate(-37deg); opacity: 0; animation: lineappears 4s 2s alternate infinite linear;}
	.s4 .d35_5 {height: 12%; width: 8%; border-radius: 50px; background-color: #F23939; position: absolute; margin-top: 13%; right: 60%; transform: rotate(-64deg); opacity: 0; animation: lineappears 4s 3s alternate infinite linear;;}

	.s5 {bottom: 4%;}

	.s5_2 {height: 5%; width: 14%; display: inline-flex; position: absolute; vertical-align: top; left: 26.5%; top: 0.4%;}
	.d36_2 {height: 100%; width: 37%; background: #F655A0; position: relative; animation: press 2s alternate infinite ease-in-out}
	.d37_2 {height: 100%; width: 37%; background: #F655A0; position: relative; margin-left: 12%;}

	.s7 {height: 31.5%;}

	.big_two {margin-top: -2.4%; height: 55.4%;}
	.s7 {height: 34%;}
	.s7 .d38 {width: 34.5%; height: 23%; margin-top: 5%; border-radius: 33px;}
	.s7 .d38 div {width: 5%; margin-bottom: 1%; height: 73%;}
	.s7 .d39 {margin-left: 17%; margin-top: 7%;}
	.s7 .d40 {margin-left: 8%;}
	.s7 .d41 {margin-left: 8%;}
	.s7 .d42 {margin-left: 8%;}
	.s7 .d43 {margin-left: 8%;}
	.d43_2 {margin-left: 9%; background: black; border-radius: 50px;}

	.s7 .d44, .d444 {width: 17.2%; height: 23%; margin-left: 34.8%; margin-top: 5%;}
	.s7 .d47 {width: 3%; margin-left: 56.5%;}
	.s7 .d48 {width: 43.5%; margin-top: 5%;}
	.s7 .d46 {width: 30%; margin-top: 10%;}
	.s7 .d46 img {width: 94%; margin-top: 4%; height: 81%;}

	.s8 {height: 54.2%;}
	.d49 {width: 83%; height: 84%; margin-left: 5.5%;}
	.s8 .d49_2 {height: 9%; width: 7%; margin-top: 8%; position: absolute; background: black;}

	.s9 {height: 12.4%;}

	.d50_1 {width: 33%;}
	.d50 {margin-left: 7.5%; width: 11%;}
	.d51 {margin-left: 20.5%; width: 11%;}
	.d52 {margin-left: 42%; width: 44%;}

	.d53_1 {width: 31%;}
	.d54 {width: 46%; margin-left: 28%;}
	.d55 {height: 36%; width: 11%; margin-left: 60%;}
	.d57 {width: 9.8%; margin-left: 10%;}
	.d58 {width: 9.8%; margin-left: 22%;}
	.d59 {width: 53%; margin-left: 38%;}
	.d60 {height: 15%; margin-left: 32.5%; margin-top: -15.8%; z-index: 7;}

	.ticket {height: 62%; width: 10%; right: 15%; margin-top: 15.3%;}
	.ticket img {height: 55%;}

	.d {width: 17%; margin-left: 5%;}
	.o {width: 12.5%;}
	.i {width: 15.2%; margin-left: 41.7%;}
	.g {width: 12.5%; margin-left: 60%;}
	.r {width: 12%; margin-left: 78%;}
	.a {width: 12.3%; margin-left: 7.5%; margin-top: 22%;}
	.l {width: 15%; margin-top: 22%;}
	.i2 {width: 15.2%; margin-left: 41.5%; margin-top: 22%;}
	.s {margin-top: 22%; width: 12.5%; margin-left: 60%;}
	.soft_sign {margin-top: 22%; width: 12%; margin-left: 78%;}

	.o2 {height: 37%; width: 12.5%; margin-left: 7.5%; margin-top: 4.2%;}
	.p {width: 12.3%;}
	.e {width: 12.5%; margin-left: 41.5%;}
	.n {width: 15%; margin-left: 57.3%;}
	.t {width: 12.5%; margin-top: 22%;}
	.a2 {margin-top: 22%; width: 12.5%; margin-left: 41.7%;}
	.l2 {margin-top: 22%; width: 15%; margin-left: 60%;}
	.k {margin-top: 22%; width: 12.2%; margin-left: 78%;}

	.vertical_line {animation: vertical_line_animation_1680 7s cubic-bezier(.35,.73,.37,.77) infinite;}
	@keyframes vertical_line_animation_1680 {
		1% {opacity: 1;}
		2% {opacity: 0;}
		3% {opacity: 1;}
		4% {opacity: 0;}
		5% {opacity: 1;}
		6% {opacity: 0;}
		7% {opacity: 1;}
		8% {opacity: 0;}
		9% {opacity: 1;}
		10% {opacity: 0;}
		11% {opacity: 1;}

		14% {left: 0%; top: 8%;}
		20% {left: 97%; top: 8%;}

		22% {opacity: 1;}
		23% {opacity: 0;}
		24% {opacity: 1;}
		25% {opacity: 0;}
		26% {opacity: 1;}
		27% {opacity: 0;}
		28% {opacity: 1;}
		29% {opacity: 0;}
		30% {opacity: 1;}

		35% {left: 97%; top: 8%;}
		37% {left: 97%; top: 53%;}

		38% {opacity: 1;}
		39% {opacity: 0;}
		40% {opacity: 1;}
		41% {opacity: 0;}
		42% {opacity: 1;}
		43% {opacity: 0;}
		44% {opacity: 1;}
		45% {opacity: 0;}
		46% {opacity: 1;}

		47% {left: 97%; top: 53%; }
		53% {left: 0%; top: 53%; }

		54% {opacity: 1;}
		55% {opacity: 0;}
		56% {opacity: 1;}
		57% {opacity: 0;}
		58% {opacity: 1;}
		59% {opacity: 0;}
		60% {opacity: 1;}
		61% {opacity: 0;}
		62% {opacity: 1;}
		63% {left: 0%; top: 53%;}
		65% {left: 0%; top: 8%;}
	}

	.rectangle {animation: rectangle_animation_1680 14s cubic-bezier(.35,.73,.37,.77) infinite;}

	@keyframes rectangle_animation_1680 {
		7% {left: 0%; width: 1%;}
		10% {left: 0%; width: 97%;}
		57% {left: 0%; width: 97%;}
		60% {left: 97%; width: 1%;}
		100% {left: 97%; width: 1%;}
	}

	.rectangle2 { animation: rectangle_animation2_1680 14s infinite cubic-bezier(.35,.73,.37,.77);}

	@keyframes rectangle_animation2_1680 {
		23.5% {width: 1%; left: 97%;}
		26.5% {left: 1%; width: 97%;}
		73.5% {left: 1%; width: 97%;}
		76.5% {left: 1%; width: 1%;}
		100% {left: 1%; width: 1%;}
	}

	.d, .o, .i, .g, .r, .a, .l, .i2, .s, .soft_sign {animation: letter_opacity_1680 28s linear infinite; }

	@keyframes letter_opacity_1680 {
		21% {opacity: 1;}
		25% {opacity: 0;}
		72% {opacity: 0;}
		75% {opacity: 1;}
		100% {opacity: 1;}
	}

	.o2, .p, .e, .n, .t, .a2, .l2, .k {animation: letter_opacity2_1680 28s linear infinite;}

	@keyframes letter_opacity2_1680 {
		21% {opacity: 0;}
		25% {opacity: 1;}
		55% {opacity: 1;}
		75% {opacity: 1;}
		76% {opacity: 0;}
		100% {opacity: 0;}
	}

}

@media only screen and (min-width: 1224px) {
  /* Desktop */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
	}
