@import 'reset.css';
body {
 width: 1440px;
 height: 2035px;
 margin: 0 auto;
 background: white;
 display: block;
 position: absolute;
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: url("../images/Frame_10.png");
  height: 100%;
  display: block;
  opacity: 0.2;
}
.s1 {
  height: 650px;
  width: 400px;
  display: flex;
  position: absolute;
}
.d1 {
  height: 574px;
  width: 109px;
  margin-top: 37px;;
  background: #00B6F4;
}
.d2 {
  height: 174px;
  width: 86px;
  margin-top: 260px;
  background: black;
}
.d3 {
  height: 256px;
  width: 70px;
  margin-top: 215px;
  background: black;
  border-radius: 50px;
}
.d4 {
  height: 333px;
  width: 70px;
  margin-top: 180px;
  margin-left: -40px;
  background: #00B6F4;
  border-radius: 50px;
}
.d5 {
  height: 411px;
  width: 70px;
  margin-top: 140px;
  margin-left: -35px;
  background: black;
  border-radius: 50px;
}
.d6 {
  height: 139px;
  width: 95px;
  margin-top: 37px;
  margin-left: 150px;
  position: absolute;
}
.s2 {
  height: 900px;
  width: 856px;
  margin: 0 auto;
  display: flex;
  position: absolute;
  margin-top: 37px;
  margin-left: 295px;
}
.d7 {
  height: 854px;
  width: 856px;
}
.d8 {
  height: 323px;
  width: 323px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  margin-left: 12px;
  margin-top: 105px;
}
.d9 {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  background-color: #FFD42E;
  position: absolute;
  margin-left: 62px;
  margin-top: 155px;
}
.d10 {
  height: 135px;
  width: 135px;
  border-radius: 50%;
  background-color: #F24941;
  position: absolute;
  margin-left: 107px;
  margin-top: 202px;
}
.d11 {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  margin-left: 60px;
  margin-top: 55px;
}
.d12 {
  height: 230px;
  width: 560px;
  border: 50px solid black;
  border-radius: 145px;
  /* background-color: white; */
  position: absolute;
  margin-top: 455px;
}
.d13 {
  height: 230px;
  width: 50px;
  background-color: black;
  margin-left: 75px;
  margin-top: 505px;
  position: absolute;
}
.d14 {
  height: 240px;
  width: 50px;
  background-color: black;
  margin-left: 250px;
  margin-top: 500px;
  position: absolute;
}
.d15 {
  height: 240px;
  width: 50px;
  background-color: black;
  margin-left: 355px;
  margin-top: 500px;
  position: absolute;
}
.d16 {
  height: 240px;
  width: 50px;
  background-color: black;
  margin-left: 495px;
  margin-top: 500px;
  position: absolute;
}
.d18 {
  height: 95px;
  width: 95px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  margin-left: 687px;
  margin-top: 185px;
}
.d17 {
  height: 225px;
  width: 225px;
  border: 55px solid black;
  border-radius: 50%;
  /* background-color: white; */
  position: absolute;
  margin-top: 34px;
  margin-left: 483px;
}
.d19 {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  margin-left: 735px;
  margin-top: 745px;
}
.d20{
  height: 57px;
  width: 31px;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  margin-left: 494px;
  margin-top: 375px;
}
.d21{
  height: 57px;
  width: 31px;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  margin-left: 572px;
  margin-top: 384px;
  transform: rotate(30deg);
}
.d22{
  height: 57px;
  width: 31px;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  margin-left: 695px;
  margin-top: 564px;
  transform: rotate(90deg);
}
.d23{
  height: 57px;
  width: 31px;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  margin-left: 690px;
  margin-top: 650px;
  transform: rotate(100deg);
}
.d24{
  height: 139px;
  width: 95px;
  margin-left: 665px;
  margin-top: 400px;
  position: absolute;
}
.s3 {
  height: 900px;
  width: 290px;
  margin: 0 auto;
  display: flex;
  position: absolute;
  margin-top: 37px;
  margin-left: 1149px;
}
.d28 {
  height: 174px;
  width: 100px;
  margin-top: 416px;
  background: black;
}
.d27 {
  height: 256px;
  width: 70px;
  margin-top: 375px;
  margin-left: 34px;
  background: black;
  border-radius: 50px;
}
.d26 {
  height: 333px;
  width: 70px;
  margin-top: 340px;
  /* margin-left: -35px; */
  background: #00B6F4;
  border-radius: 50px;
  position: absolute;
}
.d25 {
  height: 411px;
  width: 70px;
  margin-top: 300px;
  margin-left: -35px;
  background: black;
  border-radius: 50px;
  position: absolute;
}
.d29 {
  height: 621px;
  width: 86px;
  background: black;
}
.d30 {
  height: 38px;
  width: 86px;
  background: #F655A0;
  position: absolute;
  margin-top: 80px;
  margin-left: 204px;
}
.d31 {
  height: 38px;
  width: 86px;
  background: #F655A0;
  position: absolute;
  margin-top: 155px;
  margin-left: 204px;
}
.s4 {
  height: 300px;
  width: 200px;
  margin: 0 auto;
  display: flex;
  position: absolute;
  margin-top: 37px;
  margin-left: 1110px;
}
.d32 {
  height: 79px;
  width: 162px;
  background: #F24941;
  position: absolute;
  margin-top: 155px;
  margin-left: 6px;
}
.d33 {
  height: 171px;
  width: 79px;
  background: #F24941;
  position: absolute;
  margin-top: 20px;
  margin-left: 89px;
}
.d34 {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background: #F24941;
  position: absolute;
  margin-left: 64px;
}
.d35 {
  height: 79px;
  width: 79px;
  background: white;
  border-radius: 50%;
  opacity: 0.2;
  position: absolute;
  margin-top: 25px;
  margin-left: 90px;
}
.s5 {
  height: 170px;
  width: 320px;
  display: flex;
  position: absolute;
  margin-top: 700px;
  margin-left: 1100px;
}
.d36{
  height: 39px;
  width: 80px;
  background: #F655A0;
  margin-top: 113px;
  margin-left: 110px;
  position: absolute;
}
.d37{
  height: 39px;
  width: 80px;
  background: #F655A0;
  margin-top: 113px;
  margin-left: 206px;
  position: absolute;
}
.s6 {
  height: 206px;
  width: 220px;
  margin-top: 645px;
  margin-left: 50px;
  overflow: hidden;
  position: absolute;

}
.d38_1 {
  height: 155px;
  width: 154px;
  /* margin-top: 50px; */
  margin-left: 34px;
}
.d39_1 {
  height: 70px;
  width: 217px;
  background: black;
  border-radius: 40px;
  margin-top: -40px;
  position: absolute;
}
.d40_1 {
  height: 52px;
  width: 157px;
  margin-left: 5px;
}
.d41_1 {
  height: 151px;
  width: 50px;
  margin-top: 25px;
  margin-left: 85px;
  border-radius: 50px;
  background: white;
  opacity: 0.2;
  position: absolute;
}
.s7 {
  height: 405px;
  width: 100%;
  display: flex;
  margin-top: 850px;
  overflow: hidden;
}
.d38 {
  width: 493px;
  height: 280px;
  margin-left: -114px;
  margin-top: 85px;
  background: #C4C4C4;
  /* opacity: 0.2; */
  border-radius: 50px;
  position: relative;
  display: block;
}
.d39 {
  width: 31px;
  height: 207px;
  position: absolute;
  margin-left: 23px;
  margin-top: 120px;
  background: black;
  border-radius: 50px;
}
.d40 {
  width: 31px;
  height: 207px;
  position: absolute;
  margin-left: 310px;
  margin-top: 120px;
  background: black;
  border-radius: 50px;
}
.d41 {
  width: 31px;
  height: 207px;
  position: absolute;
  margin-left: 240px;
  margin-top: 120px;
  background: black;
  border-radius: 50px;
}
.d42 {
  width: 31px;
  height: 207px;
  position: absolute;
  margin-left: 167px;
  margin-top: 120px;
  background: black;
  border-radius: 50px;
}
.d43 {
  width: 31px;
  height: 207px;
  position: absolute;
  margin-left: 95px;
  margin-top: 120px;
  background: black;
  border-radius: 50px;
}
.d44 {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #00B6F4;
  margin-left: 40px;
  margin-top: 85px;
}
.d44 img{
  margin-left: 20px;
  margin-top: 20px;
}
.d45 {
  width: 100%;
  height: 47px;
  background-color: black;
  position: absolute;
}
.d46 {
  width: 515px;
  height: 210px;
  border-radius: 35px;
  background-color: #F24941;
  position: absolute;
  margin-left: 850px;
  margin-top: 160px;
}
.d46 img {
  margin-left: 20px;
  margin-top: 16px;
}
.d47 {
  width: 46px;
  height: 320px;
  background-color: black;
  margin-left: 45px;
  margin-top: 85px;
}
.d48 {
  width: 650px;
  height: 46px;
  background-color: black;
  margin-top: 85px;
}
.s8 {
  width: 100%;
  height: 637px;
}
.d49 {
  height: 540px;
  width: 1250px;
  margin: 0 auto;
  border: 50px solid black;
  /* background-color: red; */
}
.s9 {
  width: 100%;
  height: 141px;
  display: flex;
  position: absolute;
}
.d50 {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background: black;
  margin: 35px 0px 0px 50px;
}
.d51 {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background: black;
  margin-left: 10px;
  margin-top: 35px;
}
.d52 {
  height: 58px;
  width: 244px;
  border-radius: 50px;
  background: black;
  margin-left: 25px;
  margin-top: 35px;
}
.d53 {
  height: 142px;
  width: 46px;
  background: black;
  margin-left: 48px;
}
.d54 {
  height: 79px;
  width: 171px;
  border-radius: 50px;
  background: black;
  margin-left: 83px;
  margin-top: 26px;
  /* opacity: 0; */
}
.d55 {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background: #F655A0;
  margin-left: 720px;
  margin-top: 35px;
  position: absolute;
}
.d56 {
  height: 142px;
  width: 46px;
  background: black;
  margin-left: 68px;
}
.d57 {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background: #F655A0;
  margin-left: 85px;
  margin-top: 35px;
}
.d58 {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background: #F655A0;
  margin-left: 10px;
  margin-top: 35px;
}
.d59 {
  height: 58px;
  width: 244px;
  border-radius: 50px;
  background: black;
  margin-left: 30px;
  margin-top: 35px;
}
.d60 {
  height: 139px;
  width: 95px;
  margin-left: 492px;
  margin-top: -92px;
  position: absolute;
}
