@import 'reset.css';
body {
 width: 100%;
 height: 1555px;
 margin: 0 auto;
 background: white;
 display: block;
 position: relative;
 padding-top: 1px;
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-image: url("../images/Frame_10.png");
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.2;
}
.big_one {
  display: flex;
  width: 100%;
  height: 44%;
  display: block;
  position: relative;
}
.s1 {
  height: 100%;
  width: 20.5%;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.s1 div {
  position: absolute;
}
.d1 {
  height: 67%;
  width: 37%;
  margin-top: 13%;
  background: #00B6F4;
}
.d2 {
  height: 20%;
  width: 30%;
  margin-top: 88%;
  margin-left: 37%;
  background: black;
}
.d3 {
  height: 30%;
  width: 22%;
  margin-top: 73%;
  margin-left: 66%;
  background: black;
  border-radius: 50px;
}
.d4 {
  height: 39%;
  width: 23%;
  margin-top: 61%;
  margin-left: 77%;
  background: #00B6F4;
  border-radius: 50px;

}
.d5 {
  height: 49%;
  width: 26%;
  margin-top: 47%;
  margin-left: 89%;
  background: black;
  border-radius: 50px;

}
.d6 {
  height: 16%;
  width: 32%;
  margin-top: 12%;
  margin-left: 50%;
}
.d6 img {
  height: 100%;
  width: 100%;
}
.red_lamp {
  height: 23.5%;
  width: 74%;
  margin-left: 17%;
  margin-top: 217%;
  /* background: red;
  opacity: 0.2; */
}
.d38_1 {
  height: 83%;
  width: 70%;
  margin-top: 26%;
  margin-left: 15%;
}
.d38_1 img {
  height: 100%;
  width: 100%;
}
.d39_1 {
  height: 33%;
  width: 100%;
  background: black;
  border-radius: 40px;
  /* bottom: -35px; */
  margin-top: 81%;
  z-index: 2;
}
.d401 {
  height: 29%;
  width: 72%;
  margin-top: 1%;
  margin-left: 2%;
}
.d401 img {
  height: 100%;
  width: 100%;
}
.d41_1 {
  height: 55%;
  width: 22%;
  margin-left: 39%;
  margin-top: 40%;
  border-radius:50px;
  background: white;
  opacity: 0.2;
  z-index: 0;
}
.s2 {
  height: 96%;
  width: 59.3%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  z-index: 2;
  left: -0.4%;
  margin-top: 2.5%;
  /* margin: 0 auto; */
  /* margin-left: 295px; */
}
/* .s2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: url("../images/head.png");
  height: 100%;
  display: block;
  opacity: 1;
} */
.d7 {
  height: 100%;
  width: 100%;
  position: absolute;
}
.d7 img {
  height: 100%;
  width: 100%;
}
.d8_2 {
  height: 38%;
  width: 38%;
  margin-left: 2%;
  margin-top: 12.5%;
  position: absolute;
}
.d8_2 div {
  position: absolute;
}
.d8 {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: black;
}
.d9 {
  height: 69%;
  width: 69%;
  border-radius: 50%;
  background-color: #FFD42E;
  margin-left: 15%;
  margin-top: 15%;
}
.d10 {
  height: 43%;
  width: 43%;
  border-radius: 50%;
  background-color: #F24941;
  margin-left: 28%;
  margin-top: 28%;
  position: absolute;
}
.d11 {
  height: 6%;
  width: 6%;
  border-radius: 50%;
  background-color: black;
  margin-left: 7%;
  margin-top: 7%;
  position: absolute;
}
.d12 {
  height: 27%;
  width: 65%;
  border: 38px solid black;
  border-radius: 107px;
  margin-left: 0%;
  margin-top: 53%;
  position: absolute;
}
.d12 div {
  display: inline-flex;
  vertical-align: top;
}
.d13 {
  height: 102%;
  width: 9%;
  background-color: black;
  margin-left: 4%;
  /* margin-top: -2px; */
}
.d14 {
  height: 102%;
  width: 9%;
  background-color: black;
  margin-left: 23%;
  margin-top: -2px;
}
.d15 {
  height: 102%;
  width: 9%;
  background-color: black;
  margin-left: 8%;
  margin-top: -2px;
}
.d16 {
  height: 102%;
  width: 9%;
  background-color: black;
  margin-left: 16%;
  margin-top: -2px;
}
.d17 {
  height: 27%;
  width: 27%;
  border: 38px solid black;
  border-radius: 50%;
  margin-top: 4.5%;
  right: 4.5%;
  position: absolute;
  z-index: 2;
}
.d18 {
  height: 11%;
  width: 11%;
  border-radius: 50%;
  background-color: red;
  margin-top: 22%;
  right: 9%;
  position: absolute;
}
.details {
  width: 500px;
  height: 500px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.d19 {
  height: 6%;
  width: 6%;
  border-radius: 50%;
  background-color: black;
  bottom: 7%;
  right: 7%;
  position: absolute;
}
.d20{
  height: 7%;
  width: 4%;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  right: 38%;
  bottom: 49%;
}
.d21{
  height: 7%;
  width: 4%;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  right: 29%;
  bottom: 47%;
  transform: rotate(30deg);
}
.d22{
  height: 7%;
  width: 4%;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  right: 15%;
  bottom: 26%;
  transform: rotate(90deg);
}
.d23{
  height: 7%;
  width: 4%;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  right: 15%;
  bottom: 16%;
  transform: rotate(110deg);
}
.d24{
  height: 16%;
  width: 11%;
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
  right: 11%;
  bottom: 37%;
}
.d24 img{
  height: 100%;
  width: 100%;
}
.s3 {
  height: 100%;
  width: 20%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: -0.6%;
  /* background: red; */
}
.s3 div {position: absolute;}
.d25 {
  height: 49%;
  width: 26%;
  bottom: 15%;
  margin-left: -14%;
  background: black;
  border-radius: 50px;
  z-index: 3;
}
.d26 {
  height: 39%;
  width: 23%;
  bottom: 20%;
  margin-left: 1%;
  background: #00B6F4;
  border-radius: 50px;
  z-index: 2;
}
.d27 {
  height: 30%;
  width: 22%;
  bottom: 24%;
  margin-left: 15%;
  background: black;
  border-radius: 50px;
}
.d28 {
  height: 20%;
  width: 35%;
  bottom: 29%;
  margin-left: 36%;
  background: black;
}
.d29 {
  height: 70%;
  width: 29%;
  margin-top: 13%;
  right: 0px;
  background: black;
}
.d30 {
  height: 4%;
  width: 29%;
  background: #F655A0;
  margin-top: 42%;
  right: 0px;
}
.d31 {
  height: 4%;
  width: 29%;
  background: #F655A0;
  margin-top: 66%;
  right: 0px;
}
.s4 {
  height: 33%;
  width: 17%;
  display: inline-block;
  position: absolute;
  vertical-align: top;
  z-index: 1;
  /* margin-left: -34px; */

  top: 0px;
  right: 8.5%;
}
.s4 div {
  position: absolute;
}
.d32 {
  height: 27%;
  width: 84%;
  background: #F24941;
  bottom: 6.5%;
  margin-left: -1%;
}
.d33 {
  height: 52%;
  width: 33%;
  background: #F24941;
  bottom: 6.5%;
  right: 16%;
}
.d34 {
  height: 44%;
  width: 52%;
  border-radius: 50%;
  background: #F24941;
  right: 6%;
  margin-top: 14%;
}
.d35 {
  height: 26%;
  width: 31%;
  background: white;
  border-radius: 50%;
  opacity: 0.2;
  margin-top: 24%;
  right: 16.5%;
}
.s5 {
  height: 4.5%;
  width: 14%;
  display: inline-flex;
  position: absolute;
  vertical-align: top;
  right: 3%;
  bottom: 4%;
}
.d36{
  height: 100%;
  width: 42%;
  background: #F655A0;
  /* margin-left: 81px; */
  position: relative;
}
.d37{
  height: 100%;
  width: 42%;
  background: #F655A0;
  margin-left: 12%;
  position: relative;
}
.s6 {
  height: 206px;
  width: 220px;
  margin-top: 645px;
  margin-left: 50px;
  overflow: hidden;
  position: absolute;
}
.big_two {
  width: 100%;
  height: 56%;
  display: block;
  position: relative;
  margin-top: -3%;
}
.s7 {
  height: 35.5%;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.s7 div{
  display: inline-block;
  /* position: absolute; */
}
.d38 {
  width: 30%;
  height: 70%;
  margin-left: -4%;
  margin-top: 5.5%;
  background: #C4C4C4;
  border-radius: 38px;
}
.d38 div {
  width: 6.5%;
  height: 69%;
}
.d39 {
  margin-left: 19%;
  margin-top: 0%;
  background: black;
  border-radius: 50px;
}
.d40 {
  margin-left: 9%;
  margin-top: 35px;
  background: black;
  border-radius: 50px;
}
.d41 {
  margin-left: 9%;
  margin-top: 35px;
  background: black;
  border-radius: 50px;
}
.d42 {
  margin-left: 9%;
  margin-top: 35px;
  background: black;
  border-radius: 50px;
}
.d43 {

  margin-left: 9%;
  margin-top: 35px;
  background: black;
  border-radius: 50px;
}
.d44 {
  width: 19.5%;
  height: 70%;
  border-radius: 50%;
  background-color: #00B6F4;
  margin-left: 2.8%;
  margin-top: 5.7%;
  /* opacity: 0.2; */
}
.d44 img{
  margin-left: 9%;
  margin-top: 8%;
  height: 76%;
  width: 84%;
}
.d45 {
  width: 100%;
  height: 4%;
  background-color: black;
  position: absolute;
}
.d46 {
  width: 36%;
  height: 18%;
  border-radius: 23px;
  background-color: #F24941;
  position: absolute;
  right: 5%;
  margin-top: 11%;
  /* opacity: 0.2; */
}
.d46 img {
  margin-left: 3%;
  margin-top: 2%;
  height: 89%;
}
.d47 {
  width: 4%;
  height: 80%;
  background-color: black;
  margin-left: 3.5%;
  margin-top: 5.5%;
}
.d48 {
  width: 44%;
  height: 13%;
  background-color: black;
  margin-top: 5.5%;
}
.s8 {
  width: 100%;
  height: 56%;
  position: relative;
}
.d49 {
  height: 84%;
  width: 86.3%;
  margin: 0 auto;
  border: 37px solid black;
  /* background-color: red; */
}
.s9 {
  width: 100%;
  height: 13%;
  display: flex;
  margin-top: -0.5%;
  position: relative;
}
.s9 div {
  position: relative;
}
.d50_1 {
  width: 34%;
  height: 100%;
}
.d50_1 div {
  position: absolute;
}
.d50 {
  height: 40%;
  width: 12%;
  border-radius: 50%;
  background: black;
  margin-left: 10.5%;
  margin-top: 7.7%;
}
.d51 {
  height: 40%;
  width: 12%;
  border-radius: 50%;
  background: black;
  margin-left: 25.5%;
  margin-top: 7.7%;
}
.d52 {
  height: 40%;
  width: 50%;
  border-radius: 50px;
  background: black;
  margin-left: 41%;
  margin-top: 7.7%;
}
.d53_1 {
  width: 29%;
  height: 100%;
}
.d53_1 div {
  position: absolute;
}
.d53 {
  height: 100%;
  width: 12%;
  background: black;
}
.d54 {
  height: 52%;
  width: 40%;
  border-radius: 50px;
  background: black;
  margin-left: 32%;
  margin-top: 7%;
  /* opacity: 0; */
}
.d55 {
  height: 36%;
  width: 13%;
  border-radius: 50%;
  background: #F655A0;
  margin-left: 55%;
  margin-top: 9.5%;
}
.d56 {
  height: 100%;
  width: 12%;
  background: black;
  margin-left: 89%;
}
.d57_1 {
  width: 37%;
  height: 100%;
}
.d57_1 div {
  position: absolute;
}
.d57 {
  height: 39%;
  width: 10.8%;
  border-radius: 50%;
  background: #F655A0;
  margin-left: 16%;
  margin-top: 7%;
}
.d58 {
  height: 39%;
  width: 10.8%;
  border-radius: 50%;
  background: #F655A0;
  margin-left: 30%;
  margin-top: 7%;
}
.d59 {
  height: 38%;
  width: 46%;
  border-radius: 50px;
  background: black;
  margin-left: 45%;
  margin-top: 7%;
}
.d60 {
  height: 14.5%;
  width: 7%;
  margin-left: 33.5%;
  margin-top: -18%;
  position: absolute;
}
.d60 img {
  width: 100%;
  height: 100%;
}
