@import 'reset.css';
body {
 width: 1440px;
 height: 2035px;
 margin: 0 auto;
 background: white;
 display: block;
 position: absolute;
 min-width: 1100px;
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: url("../images/Frame_10.png");
  height: 100%;
  display: block;
  opacity: 0;
}

.big_one {
  width: 100%;
  height: 851px;
  display: block;
}
.s1 {
  height: 100%;
  width: 294px;
  position: relative;
  display: inline-flex;
  top: 0px;
  left: 0px;
  z-index: 1;
  overflow: hidden;
  /* position: absolute; */
}
.s1 div {
  position: relative;
  display: inline-table;
}
.d1 {
  height: 574px;
  width: 109px;
  margin-top: 37px;
  background: #00B6F4;
}
.d2 {
  height: 174px;
  width: 86px;
  margin-top: 260px;
  background: black;
}
.d3 {
  height: 256px;
  width: 70px;
  margin-top: 215px;
  background: black;
  border-radius: 50px;
}
.d4 {
  height: 333px;
  width: 70px;
  margin-top: 180px;
  margin-left: -40px;
  background: #00B6F4;
  border-radius: 50px;
}
.d5 {
  height: 411px;
  width: 70px;
  margin-top: 140px;
  margin-left: -35px;
  background: black;
  border-radius: 50px;
  z-index: 2;
  left
}
.d6 {
  height: 139px;
  width: 95px;
  margin-top: 37px;
  margin-left: -180px;
}
.d38_1 {
  height: 155px;
  width: 154px;
  margin-top: 697px;
  margin-left: -160px;
}
.d39_1 {
  height: 70px;
  width: 217px;
  background: black;
  border-radius: 40px;
  margin-top: 816px;
  margin-left: -190px;
  z-index: 2;
  /* position: absolute; */
}
.d40_1 {
  height: 52px;
  width: 157px;
  margin-top: 644px;
  margin-left: -210px;
}
.d41_1 {
  height: 151px;
  width: 50px;
  margin-top: 720px;
  margin-left: -78px;
  border-radius: 50px;
  background: white;
  opacity: 0.2;
  z-index: 0;
  /* position: absolute; */
}
.s2 {
  height: 859px;
  width: 854px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  z-index: 2;
  left: -4px;
  margin-top: 37px;
  /* margin: 0 auto; */
  /* margin-left: 295px; */
}
.s2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: url("../images/head.png");
  height: 100%;
  display: block;
  opacity: 1;
}
.s2 div {
  /* position: relative; */
  display: inline-flex;
  vertical-align: top;
}
.d7 {
  height: 854px;
  width: 856px;
}
.d8_2 {
  height: 323px;
  width: 323px;
  margin-left: -103px;
  margin-top: 105px;
  position: relative;
}
.d8 {
  height: 323px;
  width: 323px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
}
.d9 {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  background-color: #FFD42E;
  margin-left: 50px;
  margin-top: 45px;
  position: absolute;
}
.d10 {
  height: 135px;
  width: 135px;
  border-radius: 50%;
  background-color: #F24941;
  margin-left: 95px;
  margin-top: 90px;
  position: absolute;
}
.d11 {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: black;
  margin-left: 60px;
  margin-top: 55px;
}
.d12 {
  height: 230px;
  width: 560px;
  border: 50px solid black;
  border-radius: 145px;
  margin-top: 25px;

}
.d12 div {
  display: inline-flex;
  vertical-align: top;
}
.d13 {
  height: 230px;
  width: 50px;
  background-color: black;
  margin-left: 25px;
  margin-top: -2px;

}
.d14 {
  height: 240px;
  width: 50px;
  background-color: black;
  margin-left: 129px;
  margin-top: -2px;

}
.d15 {
  height: 240px;
  width: 50px;
  background-color: black;
  margin-left: 50px;
  margin-top: -2px;

}
.d16 {
  height: 240px;
  width: 50px;
  background-color: black;
  margin-left: 90px;
  margin-top: -2px;

}
.d18 {
  height: 95px;
  width: 95px;
  border-radius: 50%;
  background-color: red;
  margin-left: 687px;
  margin-top: -595px;
}
.d17 {
  height: 225px;
  width: 225px;
  border: 55px solid black;
  border-radius: 50%;
  margin-top: -760px;
  margin-left: 483px;
}
.d19 {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: black;
  margin-left: 738px;
  margin-top: -73px;
}
.d20{
  height: 57px;
  width: 31px;
  border-radius: 50px;
  background-color: black;
  /* position: absolute; */
  margin-left: 494px;
  margin-top: -455px;
}
.d21{
  height: 57px;
  width: 31px;
  border-radius: 50px;
  background-color: black;
  /* position: absolute; */
  margin-left: 572px;
  margin-top: -460px;
  transform: rotate(30deg);
}
.d22{
  height: 57px;
  width: 31px;
  border-radius: 50px;
  background-color: black;
  /* position: absolute; */
  margin-left: 695px;
  margin-top: -298px;
  transform: rotate(90deg);
}
.d23{
  height: 57px;
  width: 31px;
  border-radius: 50px;
  background-color: black;
  /* position: absolute; */
  margin-left: 690px;
  margin-top: -226px;
  transform: rotate(110deg);
}
.d24{
  height: 139px;
  width: 95px;
  margin-left: 665px;
  margin-top: -500px;
  /* position: absolute; */
}
.s3 {
  height: 900px;
  width: 292px;
  display: inline-flex;
  position: relative;
  vertical-align: top;
  margin-left: -161px;
  z-index: 2;
}
.d28 {
  height: 174px;
  width: 100px;
  margin-top: 454px;
  background: black;
}
.d27 {
  height: 256px;
  width: 70px;
  margin-top: 413px;
  margin-left: 34px;
  background: black;
  border-radius: 50px;
}
.d26 {
  height: 333px;
  width: 70px;
  margin-top: 378px;
  /* margin-left: -35px; */
  background: #00B6F4;
  border-radius: 50px;
  position: absolute;
}
.d25 {
  height: 411px;
  width: 70px;
  margin-top: 338px;
  margin-left: -35px;
  background: black;
  border-radius: 50px;
  position: absolute;
}
.d29 {
  height: 621px;
  width: 86px;
  margin-top: 38px;
  background: black;
}
.d30 {
  height: 38px;
  width: 86px;
  background: #F655A0;
  position: absolute;
  margin-top: 118px;
  margin-left: 204px;
}
.d31 {
  height: 38px;
  width: 86px;
  background: #F655A0;
  position: absolute;
  margin-top: 193px;
  margin-left: 204px;
}
.s4 {
  height: 280px;
  width: 200px;
  display: inline-flex;
  position: relative;
  vertical-align: top;
  z-index: 1;
  margin-left: -52px;
}
.s4 div {
  display: inline-flex;
  vertical-align: top;
}
.d32 {
  height: 79px;
  width: 162px;
  background: #F24941;
  margin-top: 191px;
  margin-left: 10px;
}
.d33 {
  height: 171px;
  width: 79px;
  background: #F24941;
  margin-top: 66px;
  margin-left: -79px;
}
.d34 {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background: #F24941;
  margin-left: -103px;
  margin-top: 35px;
}
.d35 {
  height: 79px;
  width: 79px;
  background: white;
  border-radius: 50%;
  opacity: 0.2;
  margin-top: 60px;
  margin-left: -105px;
}
.s5 {
  height: 170px;
  width: 320px;
  display: inline-flex;
  position: relative;
  vertical-align: top;
  margin-top: 700px;
  margin-left: 1100px;
}
.d36{
  height: 39px;
  width: 80px;
  background: #F655A0;
  margin-top: 813px;
  margin-left: 61px;
  position: absolute;
}
.d37{
  height: 39px;
  width: 80px;
  background: #F655A0;
  margin-top: 813px;
  margin-left: 157px;
  position: absolute;
}
.s6 {
  height: 206px;
  width: 220px;
  margin-top: 645px;
  margin-left: 50px;
  overflow: hidden;
  position: absolute;
}
.big_two {
  top: -1000px;
  width: 100%;
  height: 1300px;
  display: block;
}
.s7 {
  height: 405px;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.s7 div{
  display: inline-flex;
  vertical-align: top;
}
.d38 {
  width: 493px;
  height: 280px;
  margin-left: -114px;
  margin-top: 85px;
  background: #C4C4C4;
  border-radius: 50px;
}
.d39 {
  width: 31px;
  height: 207px;
  /* position: absolute; */
  margin-left: 138px;
  margin-top: 35px;
  background: black;
  border-radius: 50px;
}
.d40 {
  width: 31px;
  height: 207px;
  /* position: absolute; */
  margin-left: 40px;
  margin-top: 35px;
  background: black;
  border-radius: 50px;
}
.d41 {
  width: 31px;
  height: 207px;
  /* position: absolute; */
  margin-left: 40px;
  margin-top: 35px;
  background: black;
  border-radius: 50px;
}
.d42 {
  width: 31px;
  height: 207px;
  /* position: absolute; */
  margin-left: 40px;
  margin-top: 35px;
  background: black;
  border-radius: 50px;
}
.d43 {
  width: 31px;
  height: 207px;
  /* position: absolute; */
  margin-left: 40px;
  margin-top: 35px;
  background: black;
  border-radius: 50px;
}
.d44 {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #00B6F4;
  margin-left: 40px;
  margin-top: 85px;
}
.d44 img{
  margin-left: 20px;
  margin-top: 20px;
  height: 220px;
}
.d45 {
  width: 100%;
  height: 47px;
  background-color: black;
  position: absolute;
}
.d46 {
  width: 515px;
  height: 210px;
  border-radius: 35px;
  background-color: #F24941;
  position: absolute;
  margin-left: 850px;
  margin-top: 160px;
}
.d46 img {
  margin-left: 18px;
  margin-top: 16px;
  height: 180px;
}
.d47 {
  width: 46px;
  height: 320px;
  background-color: black;
  margin-left: 45px;
  margin-top: 85px;
}
.d48 {
  width: 650px;
  height: 46px;
  background-color: black;
  margin-top: 85px;
}
.s8 {
  width: 100%;
  height: 637px;
}
.d49 {
  height: 540px;
  width: 1250px;
  margin: 0 auto;
  border: 50px solid black;
  /* background-color: red; */
}
.s9 {
  width: 100%;
  height: 141px;
  display: flex;
  /* position: absolute; */
}
.d50 {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background: black;
  margin: 35px 0px 0px 50px;
}
.d51 {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background: black;
  margin-left: 10px;
  margin-top: 35px;
}
.d52 {
  height: 58px;
  width: 244px;
  border-radius: 50px;
  background: black;
  margin-left: 25px;
  margin-top: 35px;
}
.d53 {
  height: 142px;
  width: 46px;
  background: black;
  margin-left: 48px;
}
.d54 {
  height: 79px;
  width: 171px;
  border-radius: 50px;
  background: black;
  margin-left: 83px;
  margin-top: 26px;
  /* opacity: 0; */
}
.d55 {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background: #F655A0;
  margin-left: 720px;
  margin-top: 35px;
  position: absolute;
}
.d56 {
  height: 142px;
  width: 46px;
  background: black;
  margin-left: 68px;
}
.d57 {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background: #F655A0;
  margin-left: 85px;
  margin-top: 35px;
}
.d58 {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background: #F655A0;
  margin-left: 10px;
  margin-top: 35px;
}
.d59 {
  height: 58px;
  width: 244px;
  border-radius: 50px;
  background: black;
  margin-left: 30px;
  margin-top: 35px;
}
.d60 {
  height: 139px;
  width: 95px;
  margin-left: 492px;
  margin-top: -233px;
  position: absolute;
}
